[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
*.user
*.cache
*.suo
*.userprefs
*.sln.ide
license.xml
.vs
*.vs*
/node_modules
.vscode
*.log
*.zip
*.user.config
*.user.js
*.user.targets
packages/
sc-internal
/generate-scinternal-files.ps1
tools/*
!tools/packages.config
/Azure PaaS/tools
/src/Foundation/DependencyInjection/code/*.user
/Output
/Nuget/NugetPackages
/nuget.exe
/Deploy
/package-lock.json

/worktree

*.DS_Store