<div class="container-fluid">
    <div id="navbar">
        <a class="header-label">Manual Forms Portal</a>
        <a class="header-builder">Form Builder</a>
        <a class="header-history">Bundle History</a>
    </div>
</div>
