@model MedProSC.Project.Website.Models.HeaderModel

@if (Model != null)
{
    <div class="container-fluid">
        <div id="navbar">
            <label class="header-label">@Model.HeaderTitle</label>
            <a class="header-builder active">@Model.FormBuilderTitle</a>
            <a class="header-history">@Model.BundleHistoryTitle</a>
        </div>
    </div>

}