<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentDelivery">
		<pipelines>
			<owin.identityProviders>
				<processor type="MedProSC.Foundation.Security.Pipelines.OktaIdentityProvider, MedProSC.Foundation.Security" resolve="true" >

					<!--MEDPRO-->
					<!--<authority>https://medpro-admin.oktapreview.com/oauth2/default</authority>
					<clientid>0oa1t4j3xrr8ycbDj0h8</clientid>
					<clientsecret>IMO-oyda7GTNuDJloSNsn3yQdGmIyY0jv6hzFlcNQNy1vDbfBM61vAo6VqJ5XhcD</clientsecret>
					<OAuthRedirectUri>https://manualforms.dev.medpro.com/identity/externallogincallback</OAuthRedirectUri>-->

					<!--LOCAL-->
					<!--<authority>https://dev-02121698-admin.okta.com/oauth2/default</authority>
					<clientid>0oabht6k09yEqocu65d7</clientid>
					<clientsecret>kHCkfBOrAqcWfJZDqjAN81PTUBxiimZEcIow5Hnh8vZT7CiNei8m75ZLqJ6cLEOv</clientsecret>
					<OAuthRedirectUri>https://manualforms.dev.medpro.com/identity/externallogincallback</OAuthRedirectUri>-->
				</processor>
			</owin.identityProviders>
		</pipelines>
		<federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
			<identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
				<mapEntry name="OktaTest" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
					<sites hint="list">
						<site>ManualForms</site>
					</sites>
					<identityProviders hint="list:AddIdentityProvider">
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Okta']" />
					</identityProviders>
					<externalUserBuilder type="MedProSC.Foundation.Security.ExternalUserBuilder, MedProSC.Foundation.Security" resolve="true">
						<param desc="isPersistentUser">true</param>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>


			<identityProviders hint="list:AddIdentityProvider">
				<identityProvider id="Okta" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication" >
					<param desc="name">$(id)</param>
					<param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
					<caption>Log in with Okta</caption>
					<icon>/assets/okta.png</icon>
					<domain>sitecore</domain>
					<transformations hint="list:AddTransformation">
						<transformation name="nameidentifier" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="email" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.xmlsoap.org/ws/2008/06/identity/claims/nameidentifier" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
						<transformation name="emailaddress" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="email" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.xmlsoap.org/ws/2008/06/identity/claims/emailaddress" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
						<transformation name="name" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="name" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.xmlsoap.org/ws/2008/06/identity/claims/name" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>

						<transformation name="adminrole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="ADGroups" value="CustomerFulfillmentRepresentative_MPGX_Dev"  />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://www.sitecore.net/identity/claims/isAdmin" value="false" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
						<transformation name="idpmap" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="idp" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://www.sitecore.net/identity/claims/shadowuser" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
						<transformation name="cookieexp" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="exp" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://www.sitecore.net/identity/claims/cookieExp" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
					</transformations>
				</identityProvider>
			</identityProviders>
			<propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication" resolve="true">
				<maps hint="list">
					<map name="comment claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
						<data hint="raw:AddData">
							<source name="idp" />
							<target name="Comment" />
						</data>
					</map>
					<map name="name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
						<data hint="raw:AddData">
							<source name="name" />
							<target name="FirstName" />
						</data>
					</map>
				</maps>
			</propertyInitializer>
		</federatedAuthentication>
	</sitecore>
</configuration>