<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore env:require="QA">
		<federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
			<identityProviders hint="list:AddIdentityProvider">
				<identityProvider id="Okta" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication" >
					<transformations hint="list:AddTransformation">
						<transformation name="role or long role" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="ADGroups" value="CustomerFulfillmentRepresentative_MPGX_QA"  />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\ManualForms" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
					</transformations>
				</identityProvider>
			</identityProviders>
		</federatedAuthentication>
	</sitecore>
</configuration>