#loadtable {
    margin-left: 2%;
    width: 95%;
    font-size: 10px;
    font-weight: bolder;
}

    #loadtable th {
        /*  padding: 8px;*/
        text-align: center;
        height: 10% !important;
        font-weight: bold;
    }

    #loadtable tr:nth-child(even) {
        background-color: rgb(232, 244, 250);
    }

   /* #loadtable tbody {
        height: 300px;
    }*/

    #loadtable thead {
        background-color: #002f6b !important;
        height: 34px !important;
        border: 1px !important;
    }

        #loadtable thead tr {
            font-family: Nunito Sans;
            font-size: 13px;
            color: #ffffff;
        }

    #loadtable tfoot {
        background-color: #002f6b;
        border: none;
    }

        #loadtable tfoot tr {
            font-family: Nunito Sans;
            font-size: 10px;
            color: #ffffff;
            align-items: end;
        }




.builder-table-head tr, th {
    border: 1px solid grey !important;
}

.form-tablebody tr, td {
    border-left: 1px solid grey !important;
    border-right: 1px solid grey !important;
}

.goto-first-last {
    font-size: large;
    margin-left: 1%;
}

.left-right {
    font-size: initial;
    margin-left: 2%;
}

.currentpage {
    width: 40px;
    height: 18px;
    border-radius: 6px !important;
    border: none;
}

.pagenum-display {
    margin-left: 25px;
    font-size: 13px;
}

.result-count {
    color: black;
    height: 18px;
    width: 45px !important;
    border-radius: 4px !important;
}

.reslt-page {
    text-align: right;
    border: none !important;
}

.footer-icons {
    text-align: left !important;
    border: none !important;
}

.action {
    color: rgb(0, 47, 107);
    font-size: 16px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: left;
    width: 50%
}

.dataTables_length {
    float: left;
    text-align: left;
    color: white;
}

.dataTables_filter {
    display: none;
}

#loadtable_wrapper .bottom {
    margin-left: 2%;
    display: block !important;
    margin-right: -2%;
    background: #002f6b !important;
    color: #fff;
    width: 95%;
}

#loadtable_paginate {
    display: inline-block;  
}

.paginate_input {
    width: 36px;
    height: 17px;
    color: white;
}

div.dataTables_wrapper div.dataTables_length select {
    display: inline-block;
    background: #fff;
    color: black;
}

.dataTables_wrapper .dataTables_length {
    float: inline-end;
}

#loadtable {
    width: 100%;
    font-family: "Nunito Sans" !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

#loadtable_paginate {
    color: white;
}

#loadtable_length {
    color: white;
    margin-right: 80px;
}

.paginate_input {
    color: black;
}

div.dataTables_wrapper div.dataTables_length select {
    display: inline-block;
    background: #fff;
    color: black;
    height: 20px;
    margin-top: 8px;
    padding-top: 0px;
}
