.fill {
    opacity: 0.8;
    color: rgb(0, 47, 107);
    font-size: 15px;
    font-family: 'Nunito Sans';
    font-weight: 700 !important;
    margin-top: 30px !important;
    margin-left: 25px !important;
}

.row-loadform-fields {
    margin-top: 25px !important;
    margin-left: 15px !important;
}

    .row-loadform-fields label {
        font-weight: 700;
        margin-bottom: 5px;
        font-family: 'Nunito Sans' !important;
    }

    .row-loadform-fields select {
        font-family: 'Nunito Sans' !important;
        font-size: 13px !important;
        font-weight: 600 !important;
    }

    .row-loadform-fields input {
        font-family: 'Nunito Sans' !important;
        font-size: 13px !important;
    }

.justify-content-center {
    margin-left: -250px;
}
